.imageset-1{
height: 400px;
width: 400px;
object-fit: cover;
}

.imageset-2{
    height: 400px;
    width: 400px;
    object-fit: cover;
    }

.background{
    background-color: #00bdc2;
    font-family: Helvetica;
}    


/** This is for result.js **/


.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
  height: 450px;
  padding: 10px;
  margin: 10px;
  };


