.imageset-1{
height: 400px;
width: 400px;
object-fit: cover;
}

.imageset-2{
    height: 400px;
    width: 400px;
    object-fit: cover;
    }

.background{
    background-color: #00bdc2;
    font-family: Helvetica;
}    

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    align-content: space-around;
    object-fit: cover;
  }


    

